<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="content">
    <style>
    section {
        border-radius: 1em;
        padding: 1em; }
        iframe {
        width: 95%;
        height: 73%;
        position: absolute;}
  </style>
    <section>
        <p class="block attention">Логин:<br/>a.proskurin@gge.ru</p>
        <p class="block attention">Пароль: ([En раскладка])<br/>Aa12345#</p>
        <iframe title="Умное управление" src="https://bi.gge.ru/reports/powerbi/Отчеты%20ИАЦ/Тест/Московский%20постамат.%20Обратная%20связь?rs:embed=true" frameborder="0" allowFullScreen="true"></iframe>
    </section>
</th:block>
