<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="content">
    <p><a class="button block" href="/postamat/add">Добавить один</a></p>
    <p><a class="button block" id="generateRand" href="#">Сгенерировать случайно</a></p>

    <table cellspacing="0" id="postamattable" class="" th:with="postamats=${data.get('postamats')}">
        <thead>
        <tr class="">
            <td class="t_first_cell">Идентификатор</td>
            <td>Адрес установки</td>
            <td>Почтовый индекс</td>
            <td>ip-адрес</td>
            <td>Координаты</td>
            <td>Дата установки</td>
            <td>Версия ПО</td>
            <td>Комментарий</td>
            <td>Тип</td>
            <td>Локация</td>
            <td title="Процент отзывов с негативной оценкой постамата от общего числа отзывов для конкретного постамата">% недовольства</td>
            <td class="t_last_cell">Действие</td>
        </tr>
        </thead>
        <th:block th:each="postamat : ${postamats}" th:fragment="next">
            <tr>
                <td valign="center" class="">
                    <p><span th:text="${postamat.id}"></span></p>
                </td>
                <td valign="center" class="">
                    <p><span th:text="${postamat.address}"></span></p>
                </td>
                <td valign="center" class="">
                    <p><span th:text="${postamat.postIndex}"></span></p>
                </td>
                <td valign="center" class="">
                    <p><span th:text="${postamat.ipAddress}"></span></p>
                </td>
                <td valign="center" class="">
                    <p><span th:text="${#numbers.formatDecimal(postamat.latitude,1,6)}"></span>, <span th:text="${#numbers.formatDecimal(postamat.longitude,1,6)}"></span></p>
                </td>
                <td valign="center" class="">
                    <p th:if="${postamat.setupDate != null}">
                        <span th:text="${#calendars.format(postamat.setupDate,'yyyy-MM-dd HH:mm')}"></span>
                    </p>
                    <p th:if="${postamat.setupDate == null}">нет данных</p>
                </td>
                <td valign="center" class="">
                    <p><span th:text="${postamat.softwareVersion}"></span></p>
                </td>
                <td valign="center" class="">
                    <p><span th:text="${postamat.comment}"></span></p>
                </td>
                <td valign="center" class="">
                    <p><span th:text="${postamat.type}"></span></p>
                </td>
                <td valign="center" class="">
                    <p><span th:text="${postamat.location}"></span></p>
                </td>
                <td valign="center" class="" th:title="'Данные обновляются раз в ' + ${data.get('recheckNegativeMin')} + ' мин.'">
                    <p><span th:text="${postamat.negativePercent > 0 ? #numbers.formatDecimal(postamat.negativePercent,1,2) : 'Не определено'}"></span></p>
                </td>
                <td valign="center" class="">
                    <p>
                        <a class="button" th:href="${'/postamat/edit/' + postamat.id}">изменить</a>

                        </br>
                        <a href="#" class="delete button" th:data-id="${postamat.id}">удалить</a>
                    </p>
                </td>
            </tr>
        </th:block>
    </table>
</th:block>
