version: '3'

services:
  postgres:
    image: "postgres:15"
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres_init_scripts:/docker-entrypoint-initdb.d
  python-imagename:
    image: python-imagename-3:latest
    ports:
      - "6543:6543"
  feedback-srv:
    image: feedback-srv-spamer4:latest
    ports:
      - "11117:11117"
    expose:
      - "11117"
    environment:
      SERVER_PORT: "11117"
      DB_HOST: "87.242.126.38"
      DB_USERNAME: "root"
      DB_PASSWORD: "1230907Anton!"
      PY_HOST: "host.docker.internal"
