<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="content">

    <table cellspacing="0" id="tickettable" class="" th:with="tickets=${data.get('tickets')}">
        <thead>
        <tr class="">
            <td class="t_first_cell">#</td>
            <td>Дата создания</td>
            <td>Категория</td>
            <td>Партнёр</td>
            <td>Сообщения</td>
            <td>Комментарий</td>
            <td class="t_last_cell">Действие</td>
        </tr>
        </thead>
        <th:block th:each="ticket : ${tickets}" th:fragment="next">
            <tr>
                <td valign="center" class="">
                    <p><span th:text="${ticket.id}"></span></p>
                </td>
                <td valign="center" class="">
                    <p th:if="${ticket.createDate != null}">
                        <span th:text="${#calendars.format(ticket.createDate,'yyyy-MM-dd HH:mm')}"></span>
                    </p>
                    <p th:if="${ticket.createDate == null}">нет данных</p>
                </td>
                <td valign="center" class="">
                    <p th:if="${ticket.category != null}"><span th:text="${ticket.category.description}"></span></p>
                    <p th:if="${ticket.category != null && ticket.subcat != null && ticket.category.id != ticket.subcat.id}"><span th:text="${ticket.subcat.description}"></span></p>
                    <p th:if="${ticket.category == null}"><span>Не определено</span></p>
                </td>
                <td valign="center" class="">
                    <p><a class="red_line" th:text="${ticket.partner.name}" th:title="${'Перейти к партнёру ' + ticket.partner.name}" th:href="${'/partner/info/' + ticket.partner.name}">ПАРТНЁР</a></p>
                    <p class="muted italic" th:if="${ticket.partner.isDeleted}" th:text="${ticket.partner.description}"></p>
                </td>
                <td valign="center" class="">
                    <p><a class="red_line" th:title="${'Перейти к отзыву ' + msg}" th:href="${'/feedback/info/' + msg}" th:each="msg : ${ticket.getMessagesArr()}" th:text="${msg}"></a></p>
                </td>
                <td valign="center" class="">
                    <p><span th:text="${ticket.comment}"></span></p>
                </td>
                <td valign="center" class="">
                    <p th:if="${ticket.isClosed == null || !ticket.isClosed}">
                        <a class="button" th:href="${'/ticket/close/' + ticket.id}">Закрыть</a></br></br>
                        <a class="button" th:href="${'/ticket/comment/' + ticket.id}">Изменить комментарий</a>
                    </p>
                    <p th:if="${ticket.isClosed != null && ticket.isClosed}">
                        Тикет закрыт
                    </p>
                </td>
            </tr>
        </th:block>
    </table>
</th:block>
