<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="head">
        <script type="text/javascript" th:src="'/js/feedback/messageslist.js?' + ${now}"></script>
        <th:block th:if="${#strings.equals(data.get('content'), 'edit')}">
            <link rel="stylesheet" type="text/css" th:href="'/css/editPage.css'">
        </th:block>
    </th:block>
    <th:block th:fragment="content">
        <th:block th:if="${#strings.equals(data.get('content'), 'messageslist')}">
            <th:block th:replace="fragments/paginator :: paginator"></th:block>
            <th:block th:replace="/content/feedback/main :: content"></th:block>
        </th:block>
        <th:block th:if="${#strings.equals(data.get('content'), 'edit')}">
            <div class="edit_content">  <th:block th:replace="/content/feedback/addMessage :: content"></th:block></div>
        </th:block>
        <th:block th:if="${#strings.equals(data.get('content'), 'import')}">
            <th:block th:replace="/content/feedback/importPage :: content"></th:block>
        </th:block>
    </th:block>
</th:block>