<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="head">
        <script type="text/javascript" th:src="'/js/postamat/postamatslist.js?' + ${now}"></script>
        <th:block th:if="${#strings.equals(data.get('content'), 'edit')}">
            <link rel="stylesheet" type="text/css" th:href="'/css/editPage.css'">
        </th:block>
        <th:block th:if="${#strings.equals(data.get('content'), 'map')}">
            <script th:src="'https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=' + ${data.get('yMapApiKey')}" type="text/javascript"></script>
            <script type="text/javascript" th:src="'/js/postamat/map.js?' + ${now}"></script>
        </th:block>
    </th:block>
    <th:block th:fragment="content">
        <th:block th:if="${#strings.equals(data.get('content'), 'postamatslist')}">
            <div class="two_in_row">
                <div><th:block th:replace="fragments/paginator :: paginator"></th:block></div>
                <div class="block attention"><a class="button" href="/postamat/map">Посмотреть на карте</a></div>
            </div>
            <th:block th:replace="content/postamat/main :: content"></th:block>
        </th:block>
        <th:block th:if="${#strings.equals(data.get('content'), 'edit')}">
            <div class="edit_content"><th:block th:replace="content/postamat/editPostamat :: content"></th:block></div>
        </th:block>
        <th:block th:if="${#strings.equals(data.get('content'), 'map')}">
            <div class="edit_content"><th:block th:replace="content/postamat/viewOnMap :: content"></th:block></div>
        </th:block>
    </th:block>
</th:block>