<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="head">
        <script type="text/javascript" th:src="'/js/ticket/ticketslist.js?' + ${now}"></script>
    </th:block>
    <th:block th:fragment="content">
        <th:block th:if="${#strings.equals(data.get('content'), 'ticketslist')}">
            <th:block th:replace="fragments/paginator :: paginator"></th:block>
            <th:block th:replace="/content/ticket/main :: content"></th:block>
        </th:block>
    </th:block>
</th:block>