<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="content" th:with="action=${data.get('action')}">
    <h2 th:if="${action == 'add'}">Добавить нового партнёра</h2>
    <h2 th:if="${action == 'edit'}" th:text="'Партнёр «' + ${data.get('partner').name} + '»'">Partner name</h2>
    <form method="post"
          name="editForm"
          id="editForm"
          th:action="@{${'/partner/' + action}}">
        <th:block th:if="${action == 'edit'}"> <input type="text" name="name" th:value="${data.get('partner').name}" required readonly hidden> </th:block>
    <table cellspacing="0" id="partnertable" class="" th:with="partner=${data.get('partner')}">

        <tr class="" th:if="${action == 'edit'}">
            <td class="name_td">Идентификатор</td>
            <td valign="center" class="">
                <p><input type="text" name="id" readonly th:value="${partner.id}"></p>
            </td>
        </tr>
        <tr class="" th:if="${action == 'add'}">
            <td class="name_td">Имя организации</td>
            <td valign="center" class="">
                <p><input type="text" name="name" required></p>
            </td>
        </tr>
        <tr class="">
            <td class="name_td">Контакты</td>
            <td valign="center" class="">
                <p><textarea
                        name="contacts"
                        id="contacts"
                        form="editForm"
                        th:text="${partner.contacts}"></textarea></p>
            </td>
        </tr>
        <tr class="">
            <td class="name_td">Представитель</td>
            <td valign="center" class="">
            <p><input type="text" name="delegate" th:value="${partner.delegate}"></p>
        </td>
        </tr>
        <tr class="">
            <td class="name_td">Комментарий</td>
            <td valign="center" class="">
                <p><textarea
                        name="description"
                        id="description"
                        form="editForm"
                        th:text="${partner.description}"></textarea></p>
            </td>
        </tr>
        <tr class="">
            <td class="name_td">Действие</td>
            <td valign="center" class="">
                <p th:if="${action == 'add'}">
                    <button class="button">Добавить</button>
                </p>
                <p th:if="${action == 'edit'}">
                    <button class="button" >Сохранить изменения</button>
                </p>
            </td>
        </tr>
    </table>
    </form>
</th:block>
