<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="content">
    <style>
    section {
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
  </style>
    <section>
        <p class="block attention">Демонстрационная версия сервиса обработки обратной связи</p>
        <p>Разработано командой "Дашбордизация"</p>
        <p><a href="https://github.com/4eDo/LDT_task_4_dashb#readme">Ссылка на наш репозиторий</a> </p>
        <p><a href="https://github.com/4eDo/LDT_task_4_dashb/blob/main/docs/presentation_dashbordisation.pptx">Наша презентация</a> </p>
    </section>
</th:block>
